li {
    padding: 5px;
    margin: 5px;
    background: lightgoldenrodyellow;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: green;
}

.form-group {
    margin-bottom: 5px;
}